
.card-login {
    align-items: center;
    background-color: #1E1E1E;
    border: 1px solid #080505;
    border-radius: 10px;
    width: 350px;
    padding: 20px;
    margin: 30px;
}
.card-login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
}
.card-login a {
    color: #fd5800;
    text-decoration: none;
    border: 1px solid #fd5800;
    border-radius: 2px;
}